.whatsapp-button a {
    position: fixed;
    z-index: 9999;
    right: 20px;
    float: right;
    bottom: 45px;
    cursor: pointer;
    max-height: 48px;
    max-width: 48px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background: #20b038;
    border-radius: 100%;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
    -ms-transition: All .5s ease;
    transition: All .5s ease;
    img{
        width: 48px;
    }
}

.whatsapp-button a img{
	width: 48px;
}
